:root {
	--font-family: "Segoe UI", Tahoma, sans-serif;

	--background: #000000;
	--primary: #1c1c20;
	--secondary: #17171a;
	--accent: #242429;
	--text: rgba(255, 255, 255, 0.9);
	--hidden-text: rgba(255, 255, 255, 0.5);

	--blue: #3a7cd5;

	--green: #5da061;
	--yellow: #c2985e;
	--red: #c13d3f;

	--green-yellow: color-mix(in lch, var(--green), var(--yellow));
	--yellow-red: color-mix(in lch, var(--yellow), var(--red));

	--sidebar-margin: 2.5vh;
}
