* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   min-height: 100vh;
   overflow: hidden;
   background-color: #040404;
   background-size: 160px 160px;
   background-position: center center;
   position: relative;
}

:root {
   --background: #000000;
   --primary: #1c1c20;
   --secondary: #17171a;
   --accent: #242429;
   --text: #94959B;
   --hidden-text: #50515B;
   --sidebar-margin: 2.5vh;
}

.screen {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   position: relative;
   z-index: 1;
}

.hidden {
   display: none !important;
}

input,
label {
   display: block;
   width: 100%;
}

/* Error messages */
#menu-error,
#lobby-error {
   color: #ea4179;
   font-weight: bold;
   margin-top: 15px;
   text-align: center;
   background: #fae0de;
   padding: 10px;
   border-radius: 6px;
   border: 1px solid #f9c7c4;
}

#menu-error:empty,
#lobby-error:empty {
   display: none;
}

.hide-scrollbar::-webkit-scrollbar {
   display: none;
}

.hide-scrollbar {
   -ms-overflow-style: none;
   scrollbar-width: none;
   overscroll-behavior: none;
}

input {
   border: none;
   background: var(--accent);
   display: flex;
}